<div class='wrapper' style='width:100%;float:left;'><div class='container' style='max-width:1200px;width:100%;margin:40px auto;'>
        
        <div id='ZoomyWishlistPage'></div><script src='https://zooomyapps.com/wishlist/ListWishlist.js' data-shop-id='{{shop.permanent_domain}}' data-customer-id='{{customer.id}}' data-customer-email='{{customer.email}}'  
        ></script>

        </div></div>